[Desktop Entry]
Encoding=UTF-8
Name=Link to Предварительный просмотр файла .gitignore.gitignore1 KB
Type=Link
URL=https://mail.google.com/mail/u/1?ui=2&ik=33e76f7ce0&attid=0.1&permmsgid=msg-a:r-6251965254186553475&th=16da65381e9532d5&view=att&disp=safe&realattid=f_k1g91rhe0
Icon=text-html
